<div class='parent'>
    <label for='hy'>Move stuff between these two containers. Note how the stuff gets inserted near the mouse pointer?
        Great stuff.</label>
    <div class='wrapper'>
        <div class='container-fluid' [dragula]='"first-bag"'>
            <div ><app-line-chart></app-line-chart></div>
            <div><app-bar-chart></app-bar-chart></div>
            <div>There's also the possibility of moving elements around in the same container, changing their position
            </div>
        </div>
        <div class='container-fluid' [dragula]='"first-bag"'>
            <div><app-column-chart></app-column-chart></div>
            <div><app-pie-chart></app-pie-chart></div>
            <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on
                GitHub!</a></div>
        </div>
    </div>
    <pre>
      <code>
&lt;div [dragula]=&#039;&quot;first-bag&quot;&#039;&gt;&lt;/div&gt;
&lt;div [dragula]=&#039;&quot;first-bag&quot;&#039;&gt;&lt;/div&gt;
      </code>
    </pre>
</div>