

<div #sini ></div>


<!--<app-chart [data]="data"></app-chart>-->
<!--[attr.innerHTML]="data"-->

<example-a></example-a>
SHORTING =====================

<!--<app-sortable>
</app-sortable>-->
<!--
<div class="examples">
      <example-a></example-a>
    
      <example-b></example-b>
    
      <another-example></another-example>
    
      <such-example></such-example>
    
      <very-example></very-example>
    
      <much-example></much-example>
    
      <wow-example></wow-example>
    
      <repeat-example></repeat-example>
    
      <nested-repeat-example></nested-repeat-example>
    </div>-->